@model Summ2.Models.tblCollection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblCollection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CollectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectionDiscription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionDiscription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CollectionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
