@model Summ2.Models.tblItemCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblItemCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblCategory.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCategory.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblItem.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblItem.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusBeschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusBeschrijving)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemCategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
