@model Summ2.ViewModels.CollectionViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover table-condensed">
    <tr>
        <th>
            Category Naam
            @*@Html.DisplayNameFor(model => model.CategoryName)*@
        </th>
        <th>
            Category Beschrijving
            @*@Html.DisplayNameFor(model => model.CategoryBeschrijving)*@
        </th>
        <th>
            Total Category Buy Price
        </th>
        <th>
            Total Category Current Price
        </th>
        <th>
            Total Category Price Difference
        </th>
        <th>
            Status
        </th>
        <th>
            Status Beschrijving
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.tblCategoryTotals)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryBeschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalBuyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCurrentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPriceDiffrence)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusBeschrijving)
        </td>
        @if (item.Status == "Te Accorderen")
        {
            <td>
                @Html.ActionLink("Controlleer wijziging", "Edit2", new { id = item.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
            </td>
        }
        @if (item.Status == "In orde" || item.Status == "Afgekeurd")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
            </td>
        }
    </tr>
    }

    @foreach (var item in Model.tblCategory)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryBeschrijving)
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusBeschrijving)
        </td>
        @if (item.Status == "Te Accorderen wijziging" || item.Status == "Te Accorderen creatie")
        {
            <td>
                @Html.ActionLink("Controlleer wijziging", "Edit2", new { id = item.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
            </td>
        }
        @if (item.Status == "In orde" || item.Status == "Afgekeurd")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
            </td>
        }
    </tr>
    }

</table>
