@model Summ2.Models.tblItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblCollection.CollectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblCollection.CollectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemBeschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemBeschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemOwned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemOwned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusBeschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusBeschrijving)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
