@model IEnumerable<Summ2.Models.tblItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    <select id="Select1">
        @foreach (var item in )
        {
            <option></option>
        }

    </select>
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tblCollection.CollectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemBeschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemOwned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentPrice)
        </th>
        <th>
            Price Difference
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusBeschrijving)
        </th>
        <th></th>
    </tr>
    @* Maak een tweede edit pagina om na een eerste wijziging de edit te controleren, en af of goed te keuren. Met if. *@
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tblCollection.CollectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemBeschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemOwned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @(item.CurrentPrice - item.BuyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusBeschrijving)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ItemID })
        </td>
    </tr>
}

</table>
