@model Summ2.ViewModels.CollectionViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @*<select id="Select1">*@
    <h4>
        Select your collection:
    </h4>
        @foreach (var item in Model.tblCollection)
        {
            @*<option id="@item.CollectionID">
                @item.CollectionName
            </option>*@
            @Html.ActionLink(item.CollectionName, "Index", new { id = item.CollectionID });
    <b>&nbsp;&nbsp;&nbsp;&nbsp;</b>
        }
    @*</select>*@
    @*@Html.ActionLink("Select", "Index", new { id = item.CollectionID })*@
</p>

@if (Model.tblItem != null)
{
<p>
    <h6>
        Create a new item:

        @Html.ActionLink("Create New", "Create")
    </h6>
</p>
<table class="table table-striped table-hover table-borderless table-responsive border-0">
    <tr>
        <th>
            Item Name
        </th>
        <th>
            Item Beschrijving
        </th>
        <th>
            Item Owned
        </th>
        <th>
            Item State
        </th>
        <th>
            Buy Price
        </th>
        <th>
            Current Price
        </th>
        <th>
            Price Difference
        </th>
        <th>
            Status
        </th>
        <th>
            Status Beschrijving
        </th>
        <th></th>
    </tr>
    @* Maak een tweede edit pagina om na een eerste wijziging de edit te controleren, en af of goed te keuren. Met if. *@
    @foreach (var item in Model.tblItem)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemBeschrijving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemOwned)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @(item.CurrentPrice - item.BuyPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatusBeschrijving)
        </td>
        @if (item.Status == "Te Accorderen wijziging" || item.Status == "Te Accorderen creatie")
        {
            <td>
                @Html.ActionLink("Controlleer wijziging", "Edit2", new { id = item.ItemID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ItemID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemID })
            </td>
        }
        @if (item.Status == "In orde" || item.Status == "Afgekeurd")
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ItemID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemID })
            </td>
        }
    </tr>
    }

</table>
}